<!-- <app-loading *ngIf="loading"></app-loading> -->
<div class="ml-20">
  <div class="w-100 mt-10 display-flex aling-baseinline">
    <h1 class="mat-h1 mt-2 mb-3">Sueldos Mensuales&nbsp;&nbsp;</h1>

  </div>
  <div class="" [formGroup]="form">
     <!-- Codigo start-->
     <mat-form-field class="col-lg-2 mr-10" appearance="outline">
      <mat-label>Mes</mat-label>
      <mat-select formControlName="idMes" >
      <mat-option *ngFor="let mes of meses" [value]="mes.id">{{mes.nombre}}</mat-option>
      </mat-select>
      <mat-error>Por favor elija un Mes </mat-error>
    </mat-form-field>

  <mat-form-field class="mr-10"  appearance="outline">
      <mat-label>Año</mat-label>
      <input formControlName="anio" type="number" maxlength="4" matInput placeholder="0000">
      <mat-error> El Año es requerido</mat-error>
  </mat-form-field>
  <button (click)="getRecords()" mat-stroked-button color="primary" >
    <mat-icon>blur_on</mat-icon> Aplicar filtro
  </button>
      <!-- Codigo end -->
    </div>
  <mat-grid-list cols="1" class="col-lg-11 mt-10 mr-10">

      <mat-card class="dashboard-card ">

        <mat-card-content class="dashboard-card-content ">
          <div class="">
            <table mat-table class="w-100" matSort aria-label="Elements">



              <!-- email Column -->
              <ng-container matColumnDef="nombreEmpleado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Empleado</th>
                <td mat-cell *matCellDef="let row">{{row.nombreEmpleado}}</td>
              </ng-container>

              <!-- email Column -->
              <ng-container matColumnDef="totalEntregas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total de Entregas</th>
                <td mat-cell *matCellDef="let row">{{row.totalEntregas}}</td>
              </ng-container>

              <!-- nombre Column -->
              <ng-container matColumnDef="sueldoBase">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sueldo Base</th>
                <td mat-cell *matCellDef="let row">{{row.sueldoBase | currency}}</td>
              </ng-container>

              <!-- nombre Column -->
              <ng-container matColumnDef="bonoPorHora">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bono por Horas</th>
                <td mat-cell *matCellDef="let row">{{row.bonoPorHora | currency}}</td>
              </ng-container>

              <!-- nombre Column -->
              <ng-container matColumnDef="bonoPorEntrega">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bono por Entregas</th>
                <td mat-cell *matCellDef="let row">{{row.bonoPorEntrega | currency}}</td>
              </ng-container>

              <!-- nombre Column -->
              <ng-container matColumnDef="totalRetencion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total de Rentencion</th>
                <td mat-cell *matCellDef="let row">{{row.totalRetencion | currency}}</td>
              </ng-container>

              <!-- nombre Column -->
              <ng-container matColumnDef="totalSueldo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sueldo total</th>
                <td mat-cell *matCellDef="let row">{{row.totalSueldo | currency}}</td>
              </ng-container>

              <!-- nombre Column -->
              <ng-container matColumnDef="montoVales">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vales de Despensa</th>
                <td mat-cell *matCellDef="let row">{{row.montoVales | currency}}</td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
            </mat-paginator>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
  </mat-grid-list>
</div>
