<app-loading *ngIf="loading"></app-loading>
<div class="ml-20">
  <div class="w-100 mt-10 display-flex aling-baseinline">
    <h1 class="mat-h1 mt-2 mb-3">Movimientos&nbsp;&nbsp;</h1>
    <button mat-stroked-button color="primary" (click)="OpenSave(0)">
      <mat-icon>add</mat-icon> Nuevo
    </button>
  </div>
  <div class="">
     <!-- Codigo start-->
     <mat-form-field class=" col-lg-4" appearance="outline">
          <mat-label>Criterio</mat-label>
          <input name="textFiltro" (keyup)="aplicarFiltro()" [(ngModel)]="textFiltro" matInput placeholder="Abc">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      <!-- Codigo end -->
    </div>
  <mat-grid-list cols="1" class="col-lg-11 mt-10 mr-10">

      <mat-card class="dashboard-card ">

        <mat-card-content class="dashboard-card-content ">
          <div class="">
            <table mat-table class="w-100" matSort aria-label="Elements">

                <!-- Id Column -->
               <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef >Editar</th>
                <td mat-cell *matCellDef="let row">
                  <button (click)="OpenSave(row.id)" mat-button color="primary" >
                    <mat-icon color="warn">edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- email Column -->
              <ng-container matColumnDef="empleado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Empleado</th>
                <td mat-cell *matCellDef="let row">{{getEmpleadoName(row.idEmpleado)}}</td>
              </ng-container>

              <!-- nombre Column -->
              <ng-container matColumnDef="entregas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Entregas</th>
                <td mat-cell *matCellDef="let row">{{row.numEntregas}}</td>
              </ng-container>

               <!-- perfilid Column -->
               <ng-container matColumnDef="mes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
                <td mat-cell *matCellDef="let row">{{ getMesName(row.idMes)}}</td>
              </ng-container>

              <!-- perfilid Column -->
              <ng-container matColumnDef="anio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
                <td mat-cell *matCellDef="let row">{{ row.anio}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
            </mat-paginator>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar *ngIf="sending" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
  </mat-grid-list>
</div>

